html {
  scroll-behavior: smooth;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#landing-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#landing-section .section-left {
  width: 60%;
  min-height: 100vh;
  display: flex;
  justify-content: right;
  background-color: #2b2a29;
  /* background-image: url("../images/jute-background.png");
  background-size: cover; */
  position: relative;
}
/* 
#landing-section .section-left::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2b2a29a3;
  z-index: 1;
} */

#landing-section .section-left .section-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 100;
}

#landing-section .section-left .section-wave {
  height: 100vh;
  z-index: 100;
}

#landing-section .section-left .section-wave img {
  height: 100%;
}

#landing-section .section-left .banner-logo {
  display: flex;
  justify-content: center;
}

#landing-section .section-left .banner-logo img {
  width: 50%;
  height: auto;
  margin-bottom: 50px;
}

#landing-section .section-left .banner-title {
  font-family: "DM Serif Display", serif;
  font-size: 70px;
  font-weight: 300;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 50px;
}

#landing-section .section-left .banner-title span {
  font-family: "MonteCarlo", cursive;
  font-size: 85px;
  font-weight: 600;
}

#landing-section .section-left .banner-subs {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 300;
}

#landing-section .section-left .banner-btn {
  background-color: #fecc02;
  color: #2b2a29;
  border: 0;
  outline: 0;
  padding: 14px 45px;
  font-size: 20px;
  font-family: "DM Serif Display", serif;
  font-weight: 600;
  border-radius: 30px;
}

#landing-section .section-right {
  background-color: #fecc02;
  color: #2b2a29;
  width: 40%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#landing-section .round-area {
  width: 350px;
  height: 350px;
  background-color: #c49d00;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#landing-section .round-area .showcase-products {
  transform: scale(0.8);
}

#landing-section .round-area .showcase-products img {
  width: 100%;
  height: auto;
}

#landing-section #banner-scroll-down {
  display: block;
  width: 30px;
  height: auto;
  position: absolute;
  bottom: 40px;
}

.products-showcase-section {
  padding: 100px 0 50px 0;
  position: relative;
}

.products-showcase-section:nth-child(even) {
  margin-bottom: 100px;
}

.products-showcase-section:nth-child(odd) {
  background-color: #2b2a29;
  color: #fff;
}

.products-showcase-section .section-details {
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
}

.products-showcase-section .section-details .section-info {
  max-width: 50%;
}

.products-showcase-section .section-details .section-title {
  font-family: "DM Serif Display", serif;
  font-size: 85px;
}

.products-showcase-section .section-details .section-subs {
  font-family: "Lato", sans-serif;
  font-size: 20px;
}

.products-showcase-section .product-list {
  display: flex;
  overflow-x: scroll;
  justify-content: start;
  align-items: center;
  padding-top: 100px;
}

.products-showcase-section .product-list::-webkit-scrollbar {
  display: none;
}

.products-showcase-section .product-list-item {
  min-width: 290px;
  height: 420px;
  background-color: #fecc02;
  border-radius: 275px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 20px;
}

.products-showcase-section .product-list-item:nth-child(odd) {
  transform: translateY(-50px);
}

.products-showcase-section .product-list-item .image-wrap {
  transform: scale(0.7);
}

.products-showcase-section .product-list-item img {
  width: 100%;
  height: auto;
  -webkit-filter: drop-shadow(20px 10px 10px #444);
  filter: drop-shadow(20px 10px 10px #444);
}

.products-showcase-section .product-list-item .info-wrap {
  transform: translateY(-50px);
}

.products-showcase-section .product-list-item .info-text {
  font-family: "DM Serif Display", serif;
  font-size: 38px;
}

.badge {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #000;
  color: #fff;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.icon {
  width: 45%;
  position: absolute;
  height: auto;
  top: 27%;
  left: 28%;
  color: #fff;
}

.top-wave {
  position: absolute;
  left: 0;
  top: -80px;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.top-wave svg {
  position: relative;
  display: block;
  width: calc(120% + 1.3px);
  height: 80px;
}

.top-wave .shape-fill {
  fill: #2b2a29;
}
